<h1 class="text-center">Erreur</h1>
<img src="assets/images/page_not_found.png">
<h2 class="text-center">Désolé, la page demandée n'a page été trouvée !</h2>
<a class="font-medium no-underline text-blue-500 cursor-pointer block text-center" [routerLink]="['/dashboard']">Retour
    au tableau de bord</a>