<div class="flex justify-content-center">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6" style="margin-top: 4em;">
    <div class="text-center mb-5">
      <img src="assets/logo/logo-form-dev-logiciel-centre-de-formation-1.png" alt="Logo " height="50" class="mb-3 max-w-full h-auto">
      <div class="text-900 text-3xl font-medium mb-3">Bienvenue</div>
    </div>

    <form [formGroup]="loginForm">

      <label for="email" class="block text-900 font-medium mb-2 min-h-100">E-mail</label>
      <input id="email" type="email" pInputText class="w-full" formControlName="login" required>

      <div class="mb-3 h-1rem text-xs text-red-600">
        <div *ngIf="email && email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors?.['required']">
            L'e-mail est requis.
          </div>
          <div *ngIf="email.errors?.['pattern']">
            Le format de l'e-mail n'est pas correct.
          </div>
        </div>
      </div>

      <label for="password" class="block text-900 font-medium mb-2">Mot de passe</label>
      <input id="password" type="password" pInputText class="w-full" formControlName="password" required>

      <div class="mb-5 h-1rem text-xs text-red-600">
        <div *ngIf="password && password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors?.['required']">
            Le mot de passe est requis.
          </div>
        </div>
      </div>

      <button pButton pRipple label="Se connecter" class="w-full" (click)="login()" [disabled]="!loginForm.valid"></button>

      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center">
          <!--
          <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
          <label for="rememberme1">Remember me</label>
          -->
        </div>
        <a class="font-medium no-underline text-blue-500 text-right cursor-pointer" (click)="showDialog()">Mot de passe oublié ?</a>
      </div>
      <p-dialog header="Mot de passe oublié" [(visible)]="displayForgotPwdAlert">
        <p *ngIf="email == null || email.invalid">L'adresse entrée n'est pas valide, veuillez recommencer avec une adresse e-mail correcte.</p>
        <div *ngIf="email && email.valid">
          <p>Un e-mail vous a été envoyé à l'adresse suivante afin de réinitialiser votre mot de passe :</p>
          <p [textContent]="email.value"></p>
        </div>
      </p-dialog>

      <!-- If register :
      <span class="text-600 font-medium line-height-3">Vous n'avez pas de compte ?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Cliquez ici pour le créer !</a>
      -->
    </form>
  </div>
</div>
