<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="assets/logo/logo-form-dev-logiciel-centre-de-formation-1.png" height="20" class="mr-2">
    </ng-template>
    <div *ngIf="isLoggedIn">
        <p-button label="Synchronisation" icon="pi pi-sync" styleClass="p-button-secondary p-button-sm" (click)="sync()">
        </p-button>
        <p-button label="Déconnexion" icon="pi pi-power-off" styleClass="p-button p-button-sm ml-1" (click)="logout()">
        </p-button>
        <!-- <button type="button" pButton label="Déconnexion" icon="pi pi-power-off" style="margin-left:.25em"
            (click)="logout()"></button> -->
    </div>
</p-menubar>
<p-messages [(value)]="msgs" [enableService]="false"></p-messages>
<p-toast></p-toast>
