<app-return-button></app-return-button>

<div class="card m-0 ml-1">
    <div class="flex justify-content-start flex-wrap card-container">
        <h1 class="flex align-items-center justify-content-center">Mes modules</h1>
    </div>
</div>

<div class="card mt-0 ml-1">
    <div class="flex justify-content-start flex-wrap card-container">
        <button pButton type="button" class="p-button btn flex align-items-center justify-content-center m-1"
            icon="pi pi-list" (click)="onSelectTableView()"></button>
        <button pButton type="button" class="p-button btn flex align-items-center justify-content-center m-1"
            icon="pi pi-table" (click)="onSelectCardView()"></button>
        <button pButton type="button" class="p-button btn flex align-items-center justify-content-center m-1"
            icon="pi pi-calendar" (click)="onSelectCalendarView()"></button>
    </div>
</div>


<ng-template [ngIf]="view === 'table'">

    <p-table #dt [value]="modules" [(selection)]="selectedModules" dataKey="id" styleClass="p-datatable-customers"
        [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
        [loading]="loading" [paginator]="true" currentPageReportTemplate="{first} à {last} sur {totalRecords} modules"
        [filterDelay]="0" [globalFilterFields]="['name', 'status']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Recherche" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="location">Lieu <p-sortIcon field="location"></p-sortIcon>
                </th>
                <th pSortableColumn="starting">Début <p-sortIcon field="starting">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="ending">Fin <p-sortIcon field="ending"></p-sortIcon>
                </th>
                <th pSortableColumn="students">Etudiants <p-sortIcon field="students"></p-sortIcon>
                </th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th style="width: 8rem"></th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-module>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="module"></p-tableCheckbox>
                </td>
                <td>
                    <span class="p-column-title">Nom</span>
                    {{module.name}}
                </td>
                <td>
                    <span class="p-column-title">Lieu</span>
                    <span class="image-text">{{module.location}}</span>
                </td>
                <td>
                    <span class="p-column-title">Début</span>
                    <span class="image-text">{{module.starting | date: 'short'}}</span>
                </td>
                <td>
                    <span class="p-column-title">Fin</span>
                    {{module.ending | date: 'short'}}
                </td>
                <td>
                    <span class="p-column-title">Etudiants</span>
                    <span>{{module.students.length}}</span>
                </td>
                <td>
                    <span class="p-column-title">Status</span>
                    <span
                        [class]="'customer-badge ' + (module.status === 0 ? 'wait' : (module.status === 1 ? 'open' : 'close'))">{{
                        module.status === 0 ? 'A venir' : (module.status === 1 ? 'En cours' : 'Terminé')
                        }}</span>
                </td>
                <td>
                    <span class="p-column-title">Description</span>
                    <span>{{module.description}}</span>
                </td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="pi pi-info-circle"
                        [routerLink]="'/modules/'+module.id"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Aucun modules</td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>

<ng-template [ngIf]="view === 'card'">


    <div class="card">
        <div class="flex flex-wrap card-container blue-container">


            <p-card *ngFor="let module of modules; index as i;" header="{{module.name}}" subheader="{{module.location}}"
                [style]="{width: '360px'}" styleClass="p-card-shadow m-2">
                <p>
                  |<span *ngFor="let teacher of module.teachers; index as i;"> {{teacher.name}} | </span>
                </p>
                <p>{{module.description}}</p>
                <span
                    [class]="'customer-badge ' + (module.status === 0 ? 'wait' : (module.status === 1 ? 'open' : 'close'))">{{
                    module.status === 0 ? 'A venir' : (module.status === 1 ? 'En cours' : 'Terminé')
                    }}</span>

                <ng-template pTemplate="footer">
                    <p-button [routerLink]="'/modules/'+module.id" label="Détail" icon="pi pi-info-circle"></p-button>
                    <!-- <p-button (click)="closeModule(module)" label="Cloturer" icon="pi pi-check" styleClass="p-button-secondary"
                        [style]="{'margin-left': '.5em'}"></p-button> -->
                </ng-template>
            </p-card>


        </div>
    </div>




</ng-template>



<ng-template [ngIf]="view === 'calendar'">
    <full-calendar class="calendar" [options]="calendarOptions"></full-calendar>
</ng-template>
