.customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.customer-badge.close {
    background-color: #ffcdd2;
    color: #c63737
}

.customer-badge.open {
    background-color: #c8e6c9;
    color: #256029
}

.customer-badge.wait {
    background-color: #ffd8b2;
    color: #805b36;
}

.calendar {
    cursor: pointer;
    margin: 2em;
}