<div class="card mt-3 mb-3 ml-1">
    <div class="flex justify-content-start flex-wrap card-container">
        <!-- <p-button label="Retour" icon="pi pi-angle-left" styleClass="p-button-secondary  align-items-center justify-content-center" [style]="{'margin-left': '.5em'}"></p-button> -->
        <button pButton type="button" class="p-button-secondary " label="Retour" icon="pi pi-angle-left"
            (click)="onSelectBack()"></button>
    </div>
</div>
