/* Put this code in your CSS file */

/* The div container */
.qrcodeImage {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 4em;
    align-items: center;
    flex-direction: column;
  }
  
  /* Add custom styles here */
  .center {
    display: flex;
    flex: 1;
    justify-content: center;
  }