<app-return-button></app-return-button>
<div class="qrcodeImage" *ngIf="url">
    <qrcode [qrdata]="url" [allowEmptyString]="true" [cssClass]="'center'" [colorDark]="'#000000ff'"
        [colorLight]="'#ffffffff'" [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [margin]="4" [scale]="1"
        [title]="'A custom title attribute'" [width]="300"></qrcode>

    <h2>Scannez ce QRCode</h2>
</div>