<app-return-button></app-return-button>

<p-panel>
    <ng-template pTemplate="header">
        <h1>{{module.name}}</h1>
    </ng-template>
    <p>{{module.description}}</p>
    <p>Intervenant : |<span *ngFor="let teacher of module.teachers; index as i;"> {{teacher.name}} | </span> </p>
</p-panel>

<p-table #dt [value]="participants" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="{first} à {last} sur {totalRecords} étudiants" [filterDelay]="0"
    [globalFilterFields]="['name', 'status']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Recherche" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="email">Email <p-sortIcon field="email">
                </p-sortIcon>
            </th>
            <th style="width: 8rem"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-participant>
        <tr class="p-selectable-row">
            <td>
                <span class="p-column-title">Nom</span>
                {{participant.name}}
            </td>
            <td>
                <span class="p-column-title">Email</span>
                <span class="image-text">{{participant.email}}</span>
            </td>
            <td>
                <button *ngIf="participant.status !== 'signé'" pButton type="button" class="btn" label="Emarger"
                    icon="pi pi-pencil" iconPos="left" (click)="openSignature(participant)"></button>
                <p-image *ngIf="participant.status === 'signé'" src="{{signaturesImage[0]}}" alt="Image" width="250">
                </p-image>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Aucun étudiant</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog #dialog [(visible)]="signature" [style]="{width: '50vw', height: '60vh'}" (onShow)="drawing = false"
    (onHide)="pad.clear()">
    <ng-template pTemplate="header">
        {{signature.name}}
    </ng-template>
    <div class="signature-container">
        <signature-pad (window:resize)="resize()" class="signature-pad" #pad [options]="signaturePadOptions"
            (onBeginEvent)="beginToDraw()" (onEndEvent)="drawComplete()">
        </signature-pad>
    </div>
    <ng-template pTemplate="footer">
        <div class="btn-container">
            <button pButton class="p-button-danger" type="button" label="Effacer" icon="pi pi-times" iconPos="left"
                (click)="pad.clear(); drawing = false"></button>
            <button pButton type="button" class="btn" label="Signer" icon="pi pi-pencil" iconPos="left"
                [disabled]="!drawing" (click)="closeSignature(signature); dialog.close()"></button>
        </div>
    </ng-template>
</p-dialog>