.signature-container {
    border: 2px solid black;
    margin: auto;
    width: 80%;
    max-width: fit-content;
    border-radius: 5px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn {
    margin-left: 2em;
}

.btn-container {
    margin: auto;
    text-align: center;
}

.background.signé {
    background-color: #c8e6c9;
}