<p-card header="Bonjour {{username}}" style="display: block; margin-top: 2em; margin-right: 1em;">
    <p>Bienvenue sur <b>E-Signature</b>, vous trouverez ici tous vos modules de formation en cours. Pour fermer
        une session, cliquez sur "Clore la session".</p>
    <p class="active-modules"><span>{{activesModules.length}}</span> modules en cours</p>
</p-card>

<div class="flex" style="flex-wrap: wrap;">
    <p-card *ngFor="let module of activesModules" header="{{module.name}}" subheader="{{module.description}}"
        [style]="{width: '360px', 'margin': '1em', 'margin-left': 0}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/course.svg" style="display: block; margin: auto; width: 80%">
        </ng-template>
        <p>{{module.starting | date:'short'}} - {{module.ending | date:'short'}}</p>
        <p>{{module.students.length}} participants</p>
        <span class="customer-badge wait">{{module.waiting.length}} en attente</span>
        <span class="customer-badge open">{{module.present.length}} présents</span>
        <span class="customer-badge close">{{module.absent.length}} absents</span>
        <ng-template pTemplate="footer">
            <p-button label="Détails" [routerLink]="'/modules/' + module.id" icon="pi pi-info"></p-button>
            <p-button label="Clore la session" icon="pi pi-times" styleClass="p-button-danger"
                [style]="{'margin-left': '.5em'}" (click)="closeModule(module)">
            </p-button>
            <p-button label="Relancer les participants" icon="pi pi-envelope" styleClass="p-button-secondary"
                [style]="{'margin-top': '.5em'}" (click)="resend()" [disabled]="!isOnline">
            </p-button>
        </ng-template>
    </p-card>
</div>


<p-dialog #dialog [(visible)]="closedModule" [style]="{width: '50vw', height: '60vh'}" (onHide)="pad.clear()">
    <ng-template pTemplate="header">
        <h3 style="text-align: center; color: #D32F2F;">La fermeture de ce module nécessite votre signature.</h3>
    </ng-template>
    <div class="signature-container">
        <signature-pad (window:resize)="resize()" (onBeginEvent)="drawing = true" class="signature-pad" #pad
            [options]="signaturePadOptions">
        </signature-pad>
    </div>
    <ng-template pTemplate="footer">
        <div class="btn-container">
            <button pButton class="p-button-danger" type="button" label="Effacer" icon="pi pi-times" iconPos="left"
                (click)="pad.clear(); drawing = false"></button>
            <button pButton type="button" class="btn" label="Signer" icon="pi pi-pencil" iconPos="left"
                [disabled]="!drawing" (click)="close(closedModule.id); dialog.close()"></button>
        </div>
    </ng-template>
</p-dialog>