.simple-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1em 0 1em 0;
}

.simple-card h3 {
    margin: 0;
}

.flex p {
    margin-top: 0;
}

.active-modules span {
    font-weight: bold;
    font-size: 20px;
}

.customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    margin-right: 1em;
}

.customer-badge.close {
    background-color: #ffcdd2;
    color: #c63737
}

.customer-badge.open {
    background-color: #c8e6c9;
    color: #256029
}

.customer-badge.wait {
    background-color: #ffd8b2;
    color: #805b36;
}