.customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.customer-badge.close {
    background-color: #ffcdd2;
    color: #c63737
}

.customer-badge.open {
    background-color: #c8e6c9;
    color: #256029
}

.customer-badge.wait {
    background-color: #ffd8b2;
    color: #805b36;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex span {
    font-weight: bold;
    font-size: 25px;
}

.waiting {
    color: #805b36;
}

.present {
    color: #256029;
}

.absent {
    color: #c63737;
}

.btn {
    margin-left: 5px;
}

.space {
    justify-content: space-between;
}

.full-flex {
    flex: 1;
}

.signature-container {
    border: 2px solid black;
    margin: auto;
    width: 80%;
    max-width: fit-content;
    border-radius: 5px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: hidden;
}

.action-btn button {
    margin-bottom: 10px;
}