<p-panel *ngIf="module">
    <ng-template pTemplate="header">
        <h1>{{module.name}}</h1>
    </ng-template>
    <div class="flex space">
        <div class="full-flex">
            <p>Horaires : <b>{{module.starting | date: 'shortTime'}} - {{module.ending | date: 'shortTime'}} </b></p>
            <p>Description : {{module.description}}</p>
        </div>
        <div class="action-btn">
            <button [disabled]="selectedStudents.length <= 0" pButton label="Feuille d'émargement" type="button"
                class="p-button btn" icon="pi pi-pencil" (click)="manuallySigned()"></button>
            <button [disabled]="selectedStudents.length <= 0 || !onlineStatus" pButton label="Envoyer un mail"
                type="button" class="p-button btn" icon="pi pi-envelope" (click)="sendEmail()"></button>
            <button [disabled]="selectedStudents.length <= 0 || !onlineStatus" pButton label="Génerer un QRCode"
                type="button" class="p-button btn" icon="pi pi-qrcode" (click)="generateQrCode()"></button>
        </div>
    </div>
    <h3 style="text-align: center;">Participants</h3>
    <div class="flex">
        <p class="waiting">En attente : <span>{{waitingStudents.length}}</span></p>
        <p class="present">Présents : <span>{{presentStudents.length}}</span></p>
        <p class="absent">Absents : <span>{{absentStudents.length}}</span></p>
    </div>
</p-panel>

<p-table #dt [value]="students" [(selection)]="selectedStudents" dataKey="id" styleClass="p-datatable-customers"
    [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="{first} à {last} sur {totalRecords} étudiants" [filterDelay]="0"
    [globalFilterFields]="['name', 'status']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Recherche" />
            </span>

            <button style="float: right;" pButton type="button" class="p-button-danger" label="Clore la session"
                (click)="closeModule()"></button>

            <button style="float: right; margin-right: 10px;" pButton type="button" label="Relancer les participants"
                (click)="resend()" [disabled]="!onlineStatus"></button>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="tel">Téléphone <p-sortIcon field="tel"></p-sortIcon>
            </th>
            <th pSortableColumn="email">Email <p-sortIcon field="email">
                </p-sortIcon>
            </th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th style="width: 8rem"></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr class="p-selectable-row">
            <td>
                <p-tableCheckbox [value]="student"></p-tableCheckbox>
            </td>
            <td>
                <span class="p-column-title">Nom</span>
                {{student.name}}
            </td>
            <td>
                <span class="p-column-title">Téléphone</span>
                <span class="image-text">06.30.25.65.86</span>
            </td>
            <td>
                <span class="p-column-title">Email</span>
                <span class="image-text">{{student.email}}</span>
            </td>
            <td>
                <span class="p-column-title">Status</span>
                <span
                    [class]="'customer-badge ' + (student.status === 'attendu' ? 'wait' : (student.status === 'signé' ? 'open' : 'close'))">{{student.status}}</span>
            </td>
            <td style="text-align: center; min-width: 11em;">
                <button pButton type="button" class="p-button-danger" icon="pi pi-user-minus"
                    (click)="absent(student.id)"></button>
                <button pButton type="button" class="p-button btn" icon="pi pi-comment"
                    (click)="openStudentComment(student)"></button>
                <button pButton type="button" class="p-button btn" icon="pi pi-pencil"
                    [routerLink]="'/modules/signature/'+module.id+'/'+student.id"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Aucun étudiant</td>
        </tr>
    </ng-template>
</p-table>

<p-toast></p-toast>

<p-dialog #dialog [(visible)]="teacherSignature" [style]="{width: '50vw', height: '60vh'}" (onHide)="pad.clear()">
    <ng-template pTemplate="header">
        <h3 style="text-align: center; color: #D32F2F;">La fermeture de ce module nécessite votre signature.</h3>
    </ng-template>
    <div class="signature-container">
        <signature-pad (window:resize)="resize()" (onBeginEvent)="drawing = true" class="signature-pad" #pad
            [options]="signaturePadOptions">
        </signature-pad>
    </div>
    <ng-template pTemplate="footer">
        <div class="btn-container">
            <button pButton class="p-button-danger" type="button" label="Effacer" icon="pi pi-times" iconPos="left"
                (click)="pad.clear(); drawing = false"></button>
            <button pButton type="button" class="btn" label="Signer" icon="pi pi-pencil" iconPos="left"
                [disabled]="!drawing" (click)="close(); dialog.close()"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="student" #comment [(visible)]="student" [style]="{width: '50vw', height: '60vh'}">
    <ng-template pTemplate="header">
        Saisissez le commentaire pour cet élève
    </ng-template>
    <textarea #text style="width: 100%; height: 80%; resize: none;" [value]="(student.comment)"
        pInputTextarea></textarea>
    <ng-template pTemplate="footer">
        <div class="btn-container">
            <button pButton type="button" class="btn" label="Sauvegarder" icon="pi pi-pencil" iconPos="left"
                [disabled]="text.value === ''" (click)="saveStudentComment(student.id, text.value);"></button>
        </div>
    </ng-template>
</p-dialog>