<p-panel>
    <ng-template pTemplate="header">
        Veuillez signer pour attester de votre présence
    </ng-template>
    <div class="container" style="min-height: 80vh;">
        <div class="signature-container">
            <signature-pad (window:resize)="resize()" class="signature-pad" #pad [options]="signaturePadOptions"
                (onBeginEvent)="beginToDraw()">
            </signature-pad>
        </div>
        <div class="btn-container">
            <button pButton class="p-button-danger" type="button" label="Effacer" icon="pi pi-times" iconPos="left"
                (click)="pad.clear(); drawing = false" [disabled]="signature !== undefined"></button>
            <button pButton type="button" class="btn" label="Signer" icon="pi pi-pencil" iconPos="left"
                (click)="saveSignature()" [disabled]="!drawing" [disabled]="signature !== undefined"></button>
        </div>
    </div>
</p-panel>